html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: url(images/background1.jpg) top center no-repeat fixed;
    background-color: #000;
    background-size: cover;
    overflow: hidden;
    font-size: 24px;
    color: white; 
}
.page1 {
    width: 100%;
    height: 100%; 
}
.logo {
    position: absolute;
    width: 600px;
    top: 50px;
    left: 50%;
    margin-left: -300px;
    z-index: 11;
}
.deermother {
    position: absolute;
    width: 600px;
    bottom: 0px;
    left: 50%;
    margin-left: -300px;
    z-index: 10;   
}
.Circle {
    display: block;
    position: absolute;
    width: 980px;
    bottom: -35px;
    left: 50%;
    margin-left: -490px;
    z-index: 2;
}
.ornament {
    position: absolute;
    margin: auto;
    width: 800px;
    bottom: 55px;
    left: 50%;
    margin-left: -400px;
    z-index: 9;
}
.stars {
    position: absolute;
    bottom: 0px;
    height: 100%;
    animation: stars 200s infinite linear;
}
@keyframes stars {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }
.fogs {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
 }
.fog1 {
    animation: fog 300s infinite linear;
}
.fog2 {
    animation: fog2 300s infinite linear;
}
@keyframes fog {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }
@keyframes fog2 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }